[submodule "gd4h-api"]
	path = gd4h-api
	url = https://github.com/c24b/gd4h-api.git
[submodule "gd4h-front"]
	path = gd4h-front
	url = https://github.com/c24b/gd4h-front.git
[submodule "gd4h-scripts"]
	path = gd4h-scripts
	url = https://github.com/c24b/gd4h-scripts.git
[submodule "gd4h-data"]
	path = gd4h-data
	url = https://github.com/c24b/gd4h-data.git
